<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Movies Directory</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>

	<div class="container my-2">
		<h1>Movies Directory</h1>
		<a th:href="@{/showNewMovieForm}" class="btn btn-primary btn-sm mb-3">
			Add a new Movie </a>
		<table border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>Movie Title</th>
					<th>Genre</th>
					<th>Rating</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="movie : ${listMovies}">
					<td th:text="${movie.title}"></td>
					<td th:text="${movie.genre}"></td>
					<td th:text="${movie.rating}"></td>
					<td><a th:href="@{/showFormForUpdate/{id}(id=${movie.id})}"
						class="btn btn-primary">Update</a> <a
						th:href="@{/deleteMovie/{id}(id=${movie.id})}"
						class="btn btn-danger">Delete</a></td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>