<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Movies Directory</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<h1>Movies Directory</h1>
		<hr>
		<h2>Update Movie</h2>

		<form action="#" th:action="@{/saveMovie}" th:object="${movie}"
			method="POST">

			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{id}" /> <input type="text"
				th:field="*{title}" class="form-control mb-4 col-4"> <input
				type="text" th:field="*{rating}" class="form-control mb-4 col-4">

			<input type="text" th:field="*{genre}"
				class="form-control mb-4 col-4">

			<button type="submit" class="btn btn-info col-2">Update
				Movie</button>
		</form>

		<hr>

		<a th:href="@{/}"> Back to Movie List</a>
	</div>
</body>
</html>